bootstrap.servers = localhost:9092
group.id = group1
enable.auto.commit = true
auto.commit.interval.ms = 1000
session.timeout.ms = 30000
parse.key = true
key.separator = :
key.deserializer = org.apache.kafka.common.serialization.StringDeserializer
value.deserializer = org.apache.kafka.common.serialization.StringDeserializer
#value.deserializer = dev.jack.module.StudentDeserializer

#path for this file
#C:\Users\jack\eclipse-workspace\Kafka-producer\src\main\java\config\kafka_consumer_qa.config